.secao {
    display: grid;
    align-items: end;
    row-gap: 2rem;
}

.secao-horizontal, 
.secao-vertical {
    grid-template-rows: 70px auto; /*70 altura pro texto e auto para os cards*/
}

.secao-horizontal .secao__cartoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(80%/2, max(350px, 80%/3)),1fr));
    /*minmax, largura min e max dos cartões, aproveitando 80% do container e dividindo pra 2 colunas. 
    350px largura máx. 1fr aproveitar toda a largura do layout*/
    gap: 1.25rem;
}

.secao-vertical {
    grid-template-columns: 1fr auto;
}

.secao-vertical .secao__cartoes {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll; /*barra de rolagem na horizontal*/
    overflow-y: hidden; /*esconde a barra na vertical*/
    grid-column: 1/3; /*elementos ocupando da 1ª borda da 1 coluna até a última borda da 2 coluna*/
    column-gap: 1.25rem;
}

.secao-vertical .secao__cartoes .cartao a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.secao-vertical .secao__cartoes .cartao__titulo {
    flex-grow: 1; /*aumenta o titulo e joga os subtitulos para baixo*/
}